home.localhost {
	root * /srv
	file_server
}

https://glance.localhost/* {
	reverse_proxy glance:8080
}

https://immich.localhost/* {
	reverse_proxy immich:2283
}

https://immich-kiosk.localhost/* {
	reverse_proxy immich-kiosk:7000
}

https://metube.localhost/* {
	reverse_proxy metube:8081
}

https://pihole.localhost/* {
    redir / /admin
	reverse_proxy pihole:80
}
