{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 48.7383895,
    "longitude": 19.1585805,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Bratislava",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "SK",
    "language": "en",
    "radius": 100
  }
}